.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.5s;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
